<% include layout/head %>

<div data-controller="hello">
  <input data-target="name" type="text" placeholder="Type your name…" />
  <button data-action="greet">Greet</button>
</div>

<% include layout/tail %>
