<% include layout/head %>
<div data-controller="runtime">
  <div>
    <p data-target="simple">Hello</p>
    <div>
      <button submit="button" data-action="simpleAdd">
        Add
      </button>
    </div>
  </div>
  <form data-target="form" data-action="submit">
    <input data-target="input[]" type="text" value="something" />
    <div>
      <button type="button" data-action="add">
        Add
      </button>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
<% include layout/tail %>
