<% include layout/head %>

<div data-controller="slideshow">
  <button data-action="previous">←</button>
  <button data-action="next">→</button>

  <div data-target="slide" class="slide">🐵</div>
  <div data-target="slide" class="slide">🙈</div>
  <div data-target="slide" class="slide">🙉</div>
  <div data-target="slide" class="slide">🙊</div>
</div>

<% include layout/tail %>
